<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>

<body>

    <div>123所在地区： </div>
    <div id="xxxx">
        <select v-model="select" id="xx">
            <option v-for="option in options" v-bind:value="option.value" id="x">{{option.text}}</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
</body>

<script>
    var sss=new Vue({
        el: 'xxxx',
        data: {
            selected: 'A',
            options: [

                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }

            ]
        }
    })
</script>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

</html>